In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import prince
from sklearn.preprocessing import OneHotEncoder

## Import the data

In [47]:
df1a= pd.read_csv('../Datasets/2021_access.csv')
df1u= pd.read_csv('../Datasets/2021_usage.csv')

In [72]:
cmr_a= df1a[df1a["economy"]=="Cameroon"].copy()
cmr_a.columns

Index(['economy', 'account_fin', 'account_mob', 'fin2', 'fin7', 'fin1_1a',
       'fin1_1b', 'mobileowner', 'internetaccess', 'fin24', 'fin34a'],
      dtype='object')

In [73]:
X= cmr_a[cmr_a.columns[1:10]].copy()
X = X.astype(int)

## Implementing MCA

In [82]:
encoder = OneHotEncoder()

# Fitting and transforming the data
one_hot_encoded_data = encoder.fit_transform(X)

# Converting the sparse matrix to a dense numpy array and adding the weight column
final_data = pd.concat([pd.DataFrame(one_hot_encoded_data.toarray())], axis=1)

# Printing the final one-hot encoded data
mca = prince.MCA(n_components=2)
mca.fit(final_data)
transformed_data = mca.transform(final_data)
transformed_data

            0         1
0   -0.522413  0.453395
1    1.452854  0.085575
2   -0.382056 -0.236741
3   -0.618739  0.418697
4   -0.662532  0.818978
..        ...       ...
995  1.414197  0.199188
996  1.242265 -0.224595
997 -0.166141 -0.559628
998 -0.618739  0.418697
999 -0.143574 -0.643536

[1000 rows x 2 columns]